body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;

    /* Added properties */
    max-width:900px;
    margin:0 auto;
  }
  
  
  .emoji { 
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;

    /* Added properties */
    display:flex; /* Setting the card component to flexible container */
    flex-direction: column; /* Setting the card component to column direction */
    justify-content: space-between; /* Align items to the end of the container */
    height: 100%;
  }
  
  /* Added class */
  .emojis{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .icon {
    font-size: 4rem;

    /* Added property */
    align-self: center;/* Aligning the emoji icon at the center of the card*/
  }

  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;

    /* Assigning order for the heading */
    order:1;
  }
  
  /* Added class */
  p{
    order:1;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;

    /* Added property */
    order:2;
  }
  
  
  
